{% extends '::base.html.twig' %}

{% block title %}Consulta en Twitter{% endblock %}

{% block contenido %}
<div class="col-md-10 col-md-offset-1" >
<div class="page-header">
  <h1>Consulta en Twitter</h1>
</div>
		<div class="col-md-12 jumbotron" style="margin-bottom:20px;">
		<p>Ingrese la palabra que quiere consultar</p>
		<input id="search" placeholder="Palabra a consutar"/>&nbsp;&nbsp;&nbsp;
		<button onclick="searchKey('{{url("search_key")}}')">Buscar</button>
		</div>
		<div class="col-md-12" style="margin-bottom:20px;" id="error"></div>
		<div class="col-md-8" id="tweets">
		</div>
		<div class="col-md-4" id="keys">
		</div>
		<script src="{{ asset('bundles/search/js/search.js') }}" type="text/javascript">
		</script>
</div>
{% endblock %}
